aiofiles
fastapi
google-genai
httpx
joblib
matplotlib
nltk
numpy
pandas
pdfplumber
protobuf
pydantic
pydantic-settings
python-docx
python-dotenv
python-multipart
requests
scikit-learn
seaborn
slowapi==0.1.9
streamlit
uvicorn
wordcloud
groq
