accelerate
aiofiles
datasets
evaluate
fastapi
google-genai
httpx
jiwer
joblib
jupyter
librosa
matplotlib
networkx
nltk
numpy
pandas
pdfplumber
peft
plotly
protobuf
pydantic
pydantic-settings
python-docx
python-dotenv
python-multipart
requests
rouge-score
scikit-learn
seaborn
sentencepiece
seqeval
slowapi
spacy
streamlit
torch
torchaudio
transformers
uvicorn
wordcloud
